{% extends 'base.html' %}
{% block body %}
<ul class="topnav">
    <li class="right"><a class="titletext">XSS is Fun!</a></li>
    <li><a href="/judge">JUDGE!</a></li>
    <li><a class="active" href="/">Test</a></li>
</ul>

<br />
<div class="jumbotron">
  {% if request.remote_addr == '127.0.0.1' %}
    <script>window.hasAlerted = false; alert=function(){window.hasAlerted = true;}</script>
  {% endif %}
  <h1 class="display-3">Hello, {{ request.args.get('xss').replace('<script>', '').replace('</script>', '')|safe if request.args.get('xss') else 'User'}}!</h1>
  <p class="lead">Think you can get a alert() to happen?<br>Enter a XSS in the form below, once you have gotten it to work for yourself go and see the JUDGE!</p>
  <hr class="my-4">
      <form action="/" method="get">
        <input type="text" name="xss">
        <input type="submit" class="btn btn-success"></input>
      </form>
      <p>Feed me XSS:es in excess!</p>
  </p>
</div>
{% endblock %}