{% extends 'base.html' %}
{% set active_page = "post" %}
{% block body %}
<ul class="topnav">
    <li><a href="/">Test</a></li>
    <li><a class="active" href="/judge">JUDGE!</a></li>
</ul>
<br />

<div class="jumbotron">
  <h1 class="display-3">Get ready to be JUDGED!</h1>
  <p class="lead">Got the alert() to happen for yourself? Send it off to the JUDGE!</p>
  <hr class="my-4">
    <form action='/getflag' method='post'>
        <input name='link' value="http://127.0.0.1:3333/?xss=" size=35>
        <input type=submit class="btn btn-success" onClick="this.form.submit(); this.disabled=true; this.value='Sending…';">
    </form>
    <p>(Submit once, wait until the JUDGE have decided your fate. Please don't hammer the JUDGE!)</p>
  </p>
</div>

{% endblock %}