{% extends 'base.html' %}
{% block body %}
<ul class="topnav">
    <li class="right"><a class="titletext">XSS is fun!</a></li>
    <li><a href="/judge">JUDGE!</a></li>
    <li><a class="active" href="/">Test</a></li>
</ul>

<br />
<div class="jumbotron">
  {% if request.remote_addr == '127.0.0.1' %}
    <script>window.hasAlerted = false; alert=function(){window.hasAlerted = true;}</script>
  {% endif %}
  <h1 class="display-3">Hello, {{ request.args.get('xss').replace('<script>', '').replace('</script>', '')|safe if request.args.get('xss') else 'User'}}!</h1>
  <p class="lead">Here you can try to get a XSS and send it to the JUDGE! If successfull, you will get the flag.</p>
  <hr class="my-4">
      <form action="/" method="get">
        <input type="text" name="xss">
        <input type="submit" class="btn btn-success"></input>
      </form>
      <p>Feed me with XSS:es!</p>
  </p>
</div>
{% endblock %}