{% extends 'base.html' %}
{% block body %}
<ul class="topnav">
    <li class="right"><a class="titletext">XSS is fun!</a></li>
    <li><a class="active" href="/judge">JUDGE!</a></li>
    <li><a href="/">Test</a></li>
</ul>
<br />

<div class="jumbotron">
  <h1 class="display-3">Be prepared to be judged!</h1>
  <p class="lead">Managed to get the alert() to happen? Send it to the JUDGE!</p>
  <hr class="my-4">
    <form action='/getflag' method='post'>
        <input name='link' value="http://127.0.0.1:5555/?xss=" size=35>
        <input type=submit class="btn btn-success" onClick="this.form.submit(); this.disabled=true; this.value='Skickar…';">
    </form>
    <p>(Only send in once, please don't hammer the JUDGE!)</p>
  </p>
</div>

{% endblock %}